.cart__item-info {
}

.cart__product-info p {
  color: black;
}

.cart__product-title {
  font-size: 1rem;
  font-weight: 600;
}

.cart__product-price {
  font-size: 1rem;
}

.cart__product-price span {
  font-size: 1.2rem;
  font-weight: 600;
  color: #df2020;
}

.increase__decrease-btn {
  background: #f5f5f5;
  padding: 2px 5px;
  border-radius: 5px;
}
.increase__btn,
.decrease__btn {
  cursor: pointer;
}

.delete__btn {
  font-size: 1.2rem;
  font-weight: 600;
}

.cart__item {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
