.choose {
  width: 100%;
}

.choose__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.choose__left {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
}

.choose__left:hover {
  background: #fcbe00;
}
.choose__left span i {
  color: #fff;
  font-size: 1.5rem;
}
.choose__left h5 {
  font-size: 19px;
  color: #fff;
  font-family: "Rubik";
  font-weight: 400;
}

.choose__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 1rem;
}

.flex {
  display: flex;
  color: #fff;
}

.flex:hover {
  color: #fcbe00;
  cursor: pointer;
}

.choose__right {
  color: #fff;
  margin-top: -12px;
}
